# Ignorar a pasta node_modules
/node_modules/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de sistema do macOS
.DS_Store

# Ignorar arquivos temporários do VSCode
.vscode/

# Ignorar arquivos gerados pelo npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
